<!DOCTYPE html>
<html>

  <head>
    <meta charset="UTF-8">
    <title>Whether Weather</title>
    <script type = "text/javascript" 
         src = "{{ url_for('static', filename = 'coordinates.js') }}" ></script>
    <link rel="stylesheet" href="static/main.css">
  </head>

  <body>
    <h1>Whether Weather</h1>
    
    <div id="weather-data">
        <h2>Weather data</h2>
        <p>//weather data goes here</p>
    </div>
    <div id="processed">
        <h2>What to wear</h2>
        <p>//processed data goes here</p>
    </div>
  </body>

</html>
