<!DOCTYPE html>
<html>

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">    
    
    <title>Wedah</title>

    <link rel="stylesheet" href="{{ url_for('static', filename = 'main.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script type = "text/javascript" src = "{{ url_for('static', filename = 'coordinates.js') }}" ></script>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

  </head>

  <body>
    <div class="content">

      <div class="container-fluid text-center nav-bar">
        <h1>Wedah</h1>
      </div>

      <div class="row">
        <div id="weather-data" class="col-sm-8">
          <h2>Weather data</h2>
          <div id="chartContainer" style="opacity: 0" style="height: 300px; width: 100%;"></div>

        </div>
      
        <div id="processed-data" class="col-sm-4">
          <h2>What to wear today</h2>
          <div id="recommendations" style="opacity: 0"></div>
        </div>       
      </div>
  
      <footer class="page-footer font-small pt-4">
        <div class="footer-copyright text-center py-3">
          This post was made by the Ctrl-Z gang
        </div>
      </footer>

    </div>
  </body>

</html>
